  <!--Main Navigation-->
<header>
 
    <!-- Navbar -->
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
        <div >
            <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Paradise</h1>
                
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://images.unsplash.com/photo-1589243853654-393fcf7c870b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong>Plants Lover</strong></h4>

                    <p class="text-light">
                        Not everyone is lucky enough to have a green thumb, but chances are you know someone who just can't stop collecting houseplants. If you're shopping for a present for them, catering to their interests—as with any thoughtful gift-giving—is definitely the way to go. But if you're not sure what to buy your plant-obsessed loved ones, this gift guide is a good start.

                        From plant subscriptions and bold planters to botanical jewelry and candy that's both edible and plantable (yes, that's a thing that exists!) you're sure to find something they'll love here. And if you're the plant-lover in your circle, take this as an opportunity to treat yourself—after all the effort and care you put into making sure your houseplants continue to thrive and grow, you deserve it, right? And don't worry, there are gifts for budding plant pros, too, including planters and gadgets that will help them keep their new green friends happy and thriving.
                    </p>
                    <div></div>
                </div>
            </div>
        </section>
   =

    </div>
</main>
<!--Main layout-->
<!--Footer-->

<!--Footer-->