@if (ViewData["ErrorMessage"].ToString().Length > 0)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}



<form action="~/Search/Find" method="get">
    <table class="table">
        <tr>
            <td>Search : </td>
            <td>
                <input type="text" name="q" value="" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Search" />
            </td>
        </tr>
    </table>
</form>