@*****************@
@* Header & Logo *@
@*****************@
<div class="mb-4">
    <h1 class="display-4">
        <img src="/assets/whois.png" height="80rem" alt="whois icon">
        WHOIS
    </h1>
</div>

@*****************@
@* Guide Section *@
@*****************@
<div class="mb-4">
    <h2 class="display-6">
        <img src="/assets/guide.png" height="40rem" alt="guide icon">
        Guide
    </h2>
</div>
<p>WHOIS (pronounced as the phrase <em>"who is"</em>) is a query and response protocol that is widely used for querying
    databases
    that store the registered users or assignees of an Internet resource, such as a domain name, an IP address block or
    an autonomous system, but is also used for a wider range of other information. The protocol stores and delivers
    database content in a human-readable format. The current iteration of the WHOIS protocol was drafted by the
    Internet Society, and is documented in RFC 3912.</p>

@*******************@
@* Records Section *@
@*******************@

<div class="mb-4">
    <h2 class="display-6">
        <img src="/assets/record.png" height="40rem" alt="record icon">
        Records
    </h2>
</div>
<p>
    A WHOIS database consists of a set of text records for each resource. These text records consists of various items
    of information about the resource itself, and any associated information of assignees, registrants, administrative
    information, such as creation and expiration dates.</p>

@******************@
@* Lookup Section *@
@******************@
<div class="mb-4">
    <h2 class="display-6">
        <img src="/assets/lookup.png" height="40rem" alt="lookup icon">
        Lookup
    </h2>
</div>
<p>
    Use the tool below to lookup WHOIS records for a specific domain. Results will be cached in our database for faster
    retrival next time the record is requested by you or another user.
</p>
<form method="GET" action="/Whois/Lookup">
    <div class="form-row align-items-center justify-content-center">
        <div class="col-auto mb-5 mt-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Domain</div>
                </div>
                <input name="name" type="text" class="form-control"
                    pattern="^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$" id="inlineFormInput"
                    placeholder="example.com" required>
            </div>
        </div>

        <div class="col-auto mb-5 mt-3">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </div>
</form>
