@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="light" style= "position: fixed; bottom: 0; width: 100%; background: #f8f9fa" }>
    <p style="text-align: center; color: #a8a8a8; margin-top:10px" }>@@2021 | Raneen Alzafarani</p>
</footer>