@{
    var List = (List<Customer>)ViewData["customer"];
   

}
<table style="" class="table table-hover">
    <tbody>

    <thead scope="col">
    <td class="thead-light" style="background-color:#59FFA0"><b> Customer Id</b></td>

    <td scope="col" class="thead-light" style="background-color:#59FFA0"><b> Customer Name</b></td>

    <td scope="col" class="thead-light" style="background-color:#59FFA0"><b> Customer Email</b></td>

    <td scope="col" class="thead-light" style="background-color:#59FFA0"> <b> Customer Password</b> </td>
    </thead>

    <br />

    @foreach (var item in List)
    {
        <tr>
            <td scope="row" style="text-align:center ; color :#654236 ">
                @item.Customer_Id
            </td>
            <td scope="row" style="text-align:center ; color :#654236 ">
                @item.Customer_Name
            </td>
            <td scope="row" style="text-align:center ; color :#654236 ">
                @item.Customer_Email
            </td>
            <td scope="row" style="text-align:center ; color :#654236 ">
                @item.Customer_Password
            </td>


        </tr>

    }

</table>
