@{
    var Students = (List<Student>)ViewData["Search"];
}

<h5>Students:</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Student in Students)
        {
            <tr>
                <td>@Student.Id</td>
                <td>@Student.FirstName</td>
                <td>@Student.LastName</td>
                <td>@Student.Email</td>
            </tr>
        }
    </tbody>
</table>