@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMain";
}
<style>
    .home {
        background-image: https://a.top4top.io/p_1974z9szy1.jpeg;
        position: relative;
        min-height: 100%;
    }
    .box{
        background-color:white;
    }

</style>

<div class="home">
    <div class="text-center">
        <div>
            <h1 class="display-4" style="color:black">Welcom To the Stor</h1>
            <a href="/Prodect/"> <button class="btn btn-info" style="text-align:center">Enter </button>  </a>

        </div>

     
        <br />
    </div>



</div>

