
@{
@*    var Comments = (List<Comment>)ViewData["Comments"];
    //  var Flowers = (List<Flower>)ViewData["Flowers"];
    var Plants = (List<Plant>)ViewData["Plants"];*@

}
<h1 style="color:whitesmoke; font-family:'Comic Sans MS';margin-left:340px">Community of Plants Lover</h1>

@*
@foreach (var comment in Comments)
{

    <ul class="list-group" style="font-family:'Comic Sans MS'; margin-top:40px; margin-left:100px;
margin-right:100px">
        <li class="list-group-item">@comment.Message</li>
        <li class="list-group-item"></li>
    </ul>

}*@