@{
    ViewData["Title"] = "Pets Houses";
}

<div class="container">
    <h3 style="font-weight:bold;">About Us :</h3>
    <h1 class="display-4 text-center">We're Pet Lovers Trying to Make a Difference :) ..</h1>
    <p class="text-success " style="font-size: 18px; background-color: white;
        border-radius: 15px 50px 30px;">
        Welcome to Pet Houses. Thanks for stopping by! <br />
        We are useing the power of the Internet to connect adopters with shelter pets and help pets go from alone to adopted. 
        We're working to help the good people at shelters and rescue groups find homes for their pets.
    </p>
</div>

