

@{
    var authors = (List<UserModel>)ViewData["authors"];
    var p2 = "";

}

<div class="container ">
    <div class="row">
        @foreach (var author in authors)
        {


        <div class="col-md-4 Main-author">
            <a href="/Articles/Index/@author.User_id">
                <div class="card profile-card-1">
                    <img src=@author.User_background_image alt="profile-sample1" class="background" />
                    <img src=@author.User_image alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2> @author.UserName</h2>

                        <h6> @author.User_Email</h6>

                    </div>
                </div>
            </a>
        </div>


        }

    </div>
</div>

