@{
    var List = (List<Prodect>)ViewData["Prodect"];
    var color = ViewData["color"];

}

    <br />

    <h1>
     Enjoy shopping
    </h1>
<br/>
    @foreach (var item in List)
    {
        <div class="card border-primary mb-5" style="max-width: 18rem;display:inline-block; background-color: white; padding:20px" >
            <div class="card-header bg-transparent border-Primary"> <h2 > @item.Prodect_Name </h2> </div>
            <div class="card-body" style=" background-color: white
">
                
                <p class="card-text">
                    <img src="@item.Prodect_Image" width="200" height="200" />
                   


                    <h5 class="card-title">  @item.Prodect_Price  SR</h5>
</div>
        <div class="card-footer bg-transparent border-Primary">
         
                <a href="/Prodect/MoreDetails/  @item.Prodect_Id">
            <button class="btn btn-info" style="text-align:center;">Show </button>  
                </a>
        
        </div>
        </div>


    }
