
@{
    var image = (List<ImageModel>)ViewData["Images"];
}
<div class="row">
    @foreach (var i in image )
    {
        <div class="col-sm-6 p-2 ">
            <div class="card ">
                <div class="card-body">
                    <img class="card-img-top border-radius: 8px" src="@i.image" alt="Card image cap">
                </div>
            </div>
        </div>
    }
</div>