@{
    Layout = "_myLayout";
}

<br />


<h1 class="display-4">ABOUT US!</h1>
<p><b>Read More about us: </b></p>
<br />
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim dolorum eveniet nihil possimus accusantium, quisquam dicta cupiditate aut perspiciatis porro repellat iusto exercitationem consectetur suscipit facilis expedita praesentium iste reiciendis.
    Iusto optio distinctio quis possimus doloribus cupiditate, vitae temporibus corporis dignissimos labore sint ut nemo harum quas commodi enim aliquam delectus sed ullam voluptatem facere fugiat qui nulla. Minima, eaque?
    Totam, eveniet impedit mollitia qui animi incidunt! Exercitationem iure voluptate ad sit aliquam saepe quasi ab aliquid in at vero sequi, veniam id alias tenetur animi. Porro qui cum delectus?
</p>

<h4>Follow us on social Media @@Bookstore_test</h4>