@{
    ViewData["Title"] = "Domain Info";
}


<div class="text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-4 fw-bold text-white">Domain Info</h1>
        <img src="/assets/logo.png" alt="Domain Info Logo" width="256px">
        <div class="col-lg-8 mx-auto">
            <p class="fs-5 mb-4">Get a quick and comprehensive view on domains from a single source
                that collects all what matters in a single place.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/DNS" class="btn btn-info text-light btn-lg px-4 mx-3 fw-bold">
                    DNS Lookup
                </a>
                <a href="/Whois" class="btn btn-info text-light btn-lg px-4 mx-3 fw-bold">
                    Whois Lookup
                </a>
            </div>
        </div>
    </div>
</div>
