@{
    ViewData["Title"] = "Home Page";

}

<div class=" shadow p-3 mb-5 bg-white rounded">
    <div class="">
        <div style="margin: 0 auto !important;" class=" bg-white">
            <img src="https://www.fonts4free.net/includes/preview.php?fid=13857&fname=Rick%20and%20Morty&fsize=58&fcolor=ff99cc&text=kitty%20cat&fcase=Abc" class="img-fluid" />
        </div>
        <img class="img-fluid d-sm-block" src="http://www.arizonapetvet.com/blog/wp-content/uploads/2019/06/shutterstock_602702633-1024x351.jpg" alt="Card image cap">

        <div class="p-5">
            <p class="text-center">
                Want to know more about your cat? you came to the right place....<a class="https://i.pinimg.com/564x/fc/e4/b8/fce4b83519b0f71fad67bdd5bf568db6.jpg" href="/cats">Click here</a>
            </p>
        </div>
    </div>
   
</div>
